.seguro-interno-bg {
  background-color: var(--c11);
  box-shadow: inset 0 120px var(--c0), inset 0 -120px var(--c12);
}

.seguro-interno {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

.seguro-interno picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.seguro-interno-conteudo {
  padding-top: 180px;
  padding-bottom: 180px;
}

.seguro-interno h2 {
  margin-bottom: 32px;
}

.seguro-interno p {
  margin-bottom: 20px;
}

@media (max-width: 800px) {
  .seguro-interno-bg {
    box-shadow: inset 0 -60px var(--c12);
  }

  .seguro-interno {
    grid-template-columns: 1fr;
  }

  .seguro-interno picture img {
    height: 240px;
  }

  .seguro-interno-conteudo {
    grid-row: 1;
    padding-top: 40px;
    padding-bottom: 0;
  }
}
