.termos {
  padding-top: 80px;
  padding-bottom: 80px;
}

.termos h2 {
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 40px;
}

.termos h2:first-child {
  margin-top: 0px;
}

.termos p {
  max-width: 75ch;
  margin-bottom: 24px;
}
