@import "./css/global.css";
@import "./css/header.css";
@import "./css/main.css";
@import "./css/experiencia.css";
@import "./css/formacao.css";
@import "./css/footer.css";
:root {
  --c1: #f5f5f5;
  --c2: #f0f0f0;
  --c3: #e0e0e0;
  --c4: #cccccc;
  --c5: #b8b8b8;
  --c6: #a3a3a3;
  --c7: #8f8f8f;
  --c8: #7a7a7a;
  --c9: #666666;
  --c10: #525252;
  --c11: #3d3d3d;
  --c12: #292929;
  --c13: #141414;
}
